# ===============================
# Python
# ===============================
venv/
__pycache__/
*.pyc

# ===============================
# Environment
# ===============================
.env

# ===============================
# Models
# ===============================
*.pkl

models/*
!models/.gitkeep

# ===============================
# Logs
# ===============================
*.log
logs/*
!logs/.gitkeep

# ===============================
# Artifacts / outputs
# ===============================
artifacts/*
!artifacts/.gitkeep

outputs/

# ===============================
# Data
# ===============================
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# ===============================
# MLflow
# ===============================
mlruns/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/