# ===============================
# Python
# ===============================
venv/
__pycache__/
*.pyc

# ===============================
# Environment
# ===============================
.env

# ===============================
# Models
# ===============================
*.pkl
*.parquet

models/*
!models/.gitkeep

# ===============================
# Logs
# ===============================
*.log
logs/*
!logs/.gitkeep

# ===============================
# Artifacts / outputs
# ===============================
artifacts/*
!artifacts/.gitkeep

outputs/*
!outputs/.gitkeep

# ===============================
# Data
# ===============================

# Ignore actual datasets
data/raw/*
!data/raw/*.dvc
!data/raw/.gitkeep

data/processed/*
!data/processed/*.dvc
!data/processed/.gitkeep

# ===============================
# MLflow
# ===============================
mlflow.db
mlruns/*
!mlruns/.gitkeep

# ===============================
# Jupyter
# ===============================
notebooks/.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

# tests:
tests/__pycache__/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Databases
# ===============================
*.db
*.sqlite3

# Local experiments
*.csv

# Lint / debug
ruff_errors.json
ruff_errors2.json

*.tmp